@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

body {
  background-color: rgb(242, 233, 228);
  scrollbar-color: rgb(74, 78, 105);
  color: rgb(74, 78, 105);
  accent-color: rgb(154, 140, 152);
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-size: xx-large;
  font-style: normal;
}
