body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80%;
}

main {
  background-color: rgb(179, 177, 177);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30px, auto;
  height: 100ch;
  width: 100%;
  margin-top: 8ch;
}

div,
section {
  border: 2px solid rgb(98, 98, 98);
}

#navbar {
  height: 100ch;
  width: 100%;
  position: fixed;
}

#content {
}

#suggested {
  grid-template-columns: 80px auto 80px;
}

#stories {
  height: 15vh;
}

#post {
}
/* Mobile Version */
@media (max-width: 768px) {
  body {
    height: auto;
    grid-template-rows: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 4ch;
  }

  #navbar {
    height: auto;
    position: static;
  }

  #suggested {
    grid-template-columns: 1fr;
  }

  #stories {
    height: auto;
  }
}
